sudo: false
language: python
cache: pip
python:
  - "2.7"
  - "3.6"
  - "3.7"

install:
  - "pip install -r requirements/dev.txt"
  - "pip install flake8"

services:
  - postgresql
  - redis-server

addons:
  postgresql: "9.4"

before_script:
  # stop the build if there are Python syntax errors or undefined names
  - flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
  # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
  - flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  # Install JS dependencies
  - npm install -g bower less
  - bower install

  # Create test DB
  - psql -c 'create database doorman_test;' -U postgres

  # Launch celery worker for tests
  - env DOORMAN_ENV=test celery worker -D -A doorman.worker:celery -l DEBUG

script: python manage.py test
