
                <ul>
                {% for group in node.get_recent() | groupby('name') %}
                    <li><a href="#{{ group.grouper }}">{{ group.grouper }}</a></li>
                {% endfor %}
                </ul>


                {% for grouper, results in node.get_recent() | groupby('name') %}

                <div id="{{ grouper }}">
                    
                <h3>{{ grouper }}</h3>

                {% set columns = results[0].removed | first | list | sort if results[0].removed else results[0].added | first | list | sort %}

                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th>activity</th>
                            <th>timestamp</th>
                            {% for column in columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for result in results %}
                            {% for item in result.removed %}
                            <tr>
                                <td>removed</td>
                                <td>{{ result.timestamp }}</td>
                                {% for column in columns %}
                                <td>{{ item[column] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            {% for item in result.added %}
                            <tr>
                                <td>added</td>
                                <td>{{ result.timestamp }}</td>
                                {% for column in columns %}
                                <td>{{ item[column] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                </div>
                {% endfor %}


