            <div class="panel panel-default" id="{{ pack.name + '-' if pack is defined }}{{ query.name }}">
                <h4 class="panel-heading">
                    <a href="{{ url_for('manage.query', query_id=query.id) }}">{{ query.name }}</a> - {{ query.description }}
                </h4>

                <table class="table table-striped table-condensed">

                    <tbody>

                        <tr>
                            <th width="15%">Query</th>
                            <td width="85%"><code>{{ query.sql }}</code></td>
                        </tr>

                        <tr>
                            <th width="15%">Interval</th>
                            <td width="85%"><code>{{ query.interval }}</code></td>
                        </tr>

                        <tr>
                            <th width="15%">Platform</th>
                            <td width="85%">{{ query.platform or 'all' }}</td>
                        </tr>

                        {% if query.version %}
                        <tr>
                            <th width="15%">Version</th>
                            <td width="85%">{{ query.version or '' }}</td>
                        </tr>
                        {% endif %}

                        {% if query.value %}
                        <tr>
                            <th width="15%">Value</th>
                            <td width="85%">{{ query.value or '' }}</td>
                        </tr>
                        {% endif %}

                        {% if query.shard %}
                        <tr>
                            <th width="15%">Shard</th>
                            <td width="85%">{{ query.shard or '' }}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <th width="15%">Show Removed?</th>
                            <td width="85%">{{ query.removed }}</td>
                        </tr>

                        <tr>
                            <th width="15%">Packs</th>
                            <td width="85%">
                                {% for _pack in query.packs %}
                                <span class="label">
                                    <a href="{{ url_for('manage.packs') }}#{{ _pack.name }}">{{ _pack.name }}</a>
                                </span>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th width="15%">Tags</th>
                            <td width="85%">
                                <input class="tagsinput" placeholder="Add tags by typing here" value="{{ query.tags | map(attribute='value') | sort | join(',') }}" data-uri="{{ url_for('manage.tag_query', query_id=query.id) }}" size="23">
                            </td>
                        </tr>

                    </tbody>

                </table>
                
            </div>
