{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-12">
                <h1>recent activity</h1>

                {% if node.get_recent().count() or node.distributed_queries.count() %}
                {% set queries = node.distributed_queries %}
                {% include "_activity.html" %}
                {% else %}
                <p>No recent activity for this node.<p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}