{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            {% if queries is defined %}

            <div class="col-md-12">
                {% if distributed_id %}
                    <h1>{% if status %}{{ status }} {% endif %}distributed query {{ distributed_id }}</h1>
                {% else %}
                    <h1>{% if status %}{{ status }} {% endif %}distributed queries</h1>
                {% endif %}

                {% if queries %}
                {% include "tables/distributed.html" %}

                <div class="text-center">
                    <small>{{ pagination.info }}</small>
                    {{ pagination.links }}
                </div>

                {% else %}
                <p>No distributed queries in {{ status }} state.</p>
                {% endif %}

            {% else %}
            <div class="col-md-9">
                {% include "forms/distributed.html" %}
            {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
