{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-12">
                <h1>files</h1>

                {% if file_paths %}

                {% for file_path in file_paths %}
                <h2>
                    <a href="{{ url_for('manage.file_path', file_path_id=file_path.id) }}">{{ file_path.category }}</a>
                </h2>

                <ul>
                    {% for path in file_path.get_paths() %}
                    <li>{{ path }}</li>
                    {% endfor %}
                </ul>

                <input class="tagsinput" placeholder="Add tags by typing here" value="{{ file_path.tags | map(attribute='value') | sort | join(',') }}" data-uri="{{ url_for('manage.tag_file', file_path_id=file_path.id) }}" size="23">

                {% endfor %}

                {% else %}
                <p>No file paths defined. Add some to use osquery's file integrity monitoring.</p>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}
