{% extends "layout.html" %}
{% block content %}

    <div class="body-content">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ node.host_identifier }} / <a href="{{ url_for('manage.node_activity', node_id=node.id) }}">recent activity</a> / <a href="{{ url_for('manage.node_logs', node_id=node.id) }}">logs</a></h1>

                <div class="row">
                    <div class="col-md-3">

                        <h2>Details</h2>

                        <table class="table-condensed">
                            <tr>
                                <th class="text-right">name</th>
                                <td>{{ node.system_info.computer_name }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">make</th>
                                <td>{{ node.system_info.hardware_vendor }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">model</th>
                                <td>{{ node.system_info.hardware_model }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">serial</th>
                                <td>{{ node.system_info.hardware_serial }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">cpu</th>
                                <td>{{ node.system_info.cpu_brand }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">cpu cores</th>
                                <td>{{ node.system_info.cpu_physical_cores }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">memory</th>
                                <td>{{ node.system_info.physical_memory }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">enrolled</th>
                                <td>{{ node.enrolled_on }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">last check-in</th>
                                <td>{{ node.last_checkin }}</td>
                            </tr>
                        </table>

                    </div><!--./col-md-3-->

                    <div class="col-md-9">

                        <h2>Packs</h2>

                        {% if packs is not defined %}
                        {% set packs = node.packs.all() %}
                        {% endif %}

                        {% if packs %}
                        {% include "tables/packs.html" %}
                        {% else %}

                        <p>No packs currently associated with this node. Use the tag functionality to associate nodes with packs.</p>

                        {% endif %}

                        <h2>Queries</h2>

                        {% if queries is not defined %}
                        {% set queries = node.queries.all() %}
                        {% endif %}

                        {% if queries %}
                        {% include "tables/queries.html" %}
                        {% else %}

                        <p>No queries currently associated with this node. Use the tag functionality to associate nodes with queries.</p>

                        {% endif %}

                        <h2>File Integrity Monitoring</h2>

                        {% if file_paths is not defined %}
                        {% set file_paths = node.file_paths.all() %}
                        {% endif %}

                        {% if file_paths %}
                        <ul>
                            {% for file_path in file_paths %}
                            <li>{{ file_path.category }}</li>
                            <ul>
                                {% for path in file_path.get_paths() %}
                                <li><code>{{ path }}</code></li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>
                        {% else %}

                        <p>No files currently being monitored on this node. Use the tag functionality to associate nodes with file paths to monitor.</p>

                        {% endif %}

                        <h2>Tags</h2>

                        <select multiple class="tagsinput" data-uri="{{ url_for('manage.tag_node', node_id=node.id) }}">
                            {% for tag in node.tags | sort(attribute='value') %}
                            <option value="{{ tag.value }}">{{ tag.value }}</option>
                            {% endfor %}
                        </select>

                    </div><!--./col-md-9-->
                </div><!--./row-->
            </div><!--./col-md-12-->
        </div><!--./row-->
    </div><!--./body-content-->

{% endblock %}
