                <form class="form-horizontal" method="POST">
                    <fieldset>
                        {% if query is defined %}
                        <legend>update query</legend>
                        {% else %}
                        <legend>add query</legend>
                        {% endif %}
                        {{ form.csrf_token() }}

                        <div class="form-group">
                            {{ form.name.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.name(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.sql.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.sql(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.interval.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.interval(class_="form-control", type="number") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.platform.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.platform(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.version.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.version(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.description.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.description(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.value.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.value(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.shard.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.shard(class_="form-control", type="number") }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Query Options</label>

                            <div class="checkbox col-sm-5">
                                <label>
                                    {{ form.removed() }} {{ form.removed.label.text }}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.packs.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.packs(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.tags.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.tags(placeholder="One tag per line", class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-group"> 
                            <div class="col-sm-10 col-sm-offset-2">
                                <p><input class="btn-small btn-default btn-submit" type="submit" value="{% if query is defined %}update{% else %}add{% endif %} query"></p>
                            </div>
                        </div>

                    </fieldset>

                </form>