                    <form class="form-horizontal" method="POST">
                        <fieldset>
                            <legend>add tags</legend>
                            {{ form.csrf_token() }}

                            <div class="form-group">
                                {{ form.value.label(class_="col-md-2 control-label") }}
                                <div class="col-md-10">
                                    {{ form.value(placeholder="Enter tags here, one tag per line", class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group"> 
                                <div class="col-md-10 col-md-offset-2">
                                    <p><input class="btn-small btn-default btn-submit" type="submit" value="Add Tag"></p>
                                </div>
                            </div>

                        </fieldset>
                    </form>
